.file.image#example
  %a.thumbnail
    %img
  .input-append
    %input#link{type: 'text'}
    %button.btn.btn-inverse.copy-button 复制
  .help-block
  %button.file-close{url: remove_path('')}
    %img{src: '/images/close.png'}
